<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Zone Converter</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
</head>
<body> 
    <div class="event_page_body">
        <div class="even_page_center">
            <div class="event_page_title">
                <a href="" target="_blank" id="event_page_title">
                    Very long title
                </a>
                <span id="event_page_desc">description goes here</span>
            </div>
            <div class="event_page_info">
                <div class="event_page_time_date">
                    <div class="event_page_time">
                        <span>Start time:</span>
                        <div id="event_page_start_time">20:00</div>
                        <span>End time:</span>
                        <div id="event_page_end_time">20:00</div>
                    </div>
                    <div class="event_page_date">
                        <span>Date:</span>
                        <div id="event_page_date">1.1.1111</div>
                    </div>
                </div>
                <div class="event_page_location">
                    <span>Location:</span>
                    <div id="event_page_loc">Serbia, Aleksandra Medvedeva</div>
                </div>    
            
            </div>
            
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer_box">
                            <ul class="footer_list">
                                <li>
                                    <a href="">about</a>
                                </li>
                                <li>
                                    <a href="/">Time Zone Converter</a>
                                </li>
                                <li>
                                    <a href="/time-calculator-between">Time calculator</a>
                                </li>
                                <li>
                                    <a href="/create-event">Create Event</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/eventPage.js"></script>
</body>
</html>
