<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Zone Converter</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body> 
    <div class="clock">
    <div class="clock__second"></div>
    <div class="clock__minute"></div>
    <div class="clock__hour"></div>
    <div class="clock__axis"></div>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
        <section class="clock__indicator"></section>
    </div>
    
    <div class="background_cover"></div>

    <div class="center_box">
        <div class="title_box">
            <h2>Time Zone Converter</h2>
        </div>
        <div class="converter_box">
                <div class="left_box">
                    <input type="text" id="input_time">
                    <input type="text" id="searchBar_left" name="search" value="" placeholder="Local Time">
                    <div class="label_text">
                        Select the time zone
                    </div>
                    <ul class="search_list" id="searchList_left"></ul>
                </div>

    
                <div class="right_box">
                    <input type="text" id="converted_time">
                    <input type="text" id="searchBar_right" name="search" value="" placeholder="Search..">
                    <div class="label_text">
                        Select the time zone
                    </div>
                    <ul class="search_list" id="searchList_right"></ul>
                </div>
    
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer_box">
                        <ul class="footer_list">
                            <li>
                                <a href="/download">about</a>
                            </li>
                            <li>
                                <a href="/">Time Zone Converter</a>
                            </li>
                            <li>
                                <a href="/time-calculator-between">Time calculator</a>
                            </li>
                            <li>
                                <a href="/create-event">Create Event</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/clock.js"></script>
</body>
</html>
